
<h3>Try adding NewNotification</h3>
<div class="form" style="max-width: 30%; max-height: 50%;">

  <div class="form-group">
    <label>Notification Id</label>
    <input type="number" class="form-control" [(ngModel)]="this.id">
  </div>
  <div class="form-group">
    <label>Type</label>
    <input type="text" class="form-control" [(ngModel)]="this.type">

  </div>
  <div class="form-group">
    <label>Title</label>
    <input type="text" class="form-control" [(ngModel)]="this.title">

  </div>
  <div class="form-group">
    <label>Text</label>
    <input type="text" class="form-control" [(ngModel)]="this.text">

  </div>
  <button class="addNotification" class="btn btn-success" (click)="this.postNotification()">Post New Notification</button>
</div>

<div class="container">
	<div class="row">
		<div class="box">
    <div class="notifications">
        <i class="fa fa-bell" style="color: black;"></i>
        <span class="num">{{this.notificationCount()}}</span>
        <ul class="notification-ul">
          <li class="icon" *ngFor="let notification of this.notifications">
            <div class="notification-contsainer">
              <p *ngIf="!this.notification.link" class="notification-title">{{this.notification.title}}</p>
              <img class="notification-img" *ngIf="this.notification.image" src="{{this.notification.image}}">
              <a *ngIf="this.notification.link" href="{{this.notification.link}}">{{this.notification.title}}</a>
              <p class="notification-text">{{this.notification.text}}</p>
              <p>{{this.notification.type}}</p>
            </div>
            </li>

          </ul>

    </div>
</div>
</div>
</div>




